* {
    background-color: #264653;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif ;
}

img {
    width: 75vw;
    height: auto;
}
